body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p.warning {
    color: red;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"] {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.radio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

input, select, textarea {
    font-size: 16px;  /* Ensures the text size is large enough to prevent zoom */
}

button.main-button {
    margin-top: 40px;
    padding: 20px;
    min-width: 150px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.main-button:disabled {
    background-color: #aaa;
    animation: gray-pulse 1s infinite;
    cursor: not-allowed;
}

button.main-button.opening:disabled {
    background-color: #42c838;
    animation: green-pulse 1s infinite;
}

@keyframes gray-pulse {
    0% {
        background-color: #aaa;
    }

    50% {
        background-color: #ccc;
    }

    100% {
        background-color: #aaa;
    }
}

@keyframes green-pulse {
    0% {
        background-color: #42c838;
    }

    30% {
        background-color: #40a639;
    }

    100% {
        background-color: #42c838;
    }
}

img.logo {
    width: 100%;
    max-width: 360px;
    margin-top: 50px;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    body {
        margin-top: 20px;
        padding: 10px;
    }

    .container {
        max-width: 100%;
        margin: 10px;
        padding: 15px;
        border: none;
        border-radius: 5px;
        box-shadow: none;
    }

    form input[type="text"], form input[type="radio"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    form button {
        width: 100%;
        padding: 20px;
    }

    button.main-button {
        width: 100%;
    }
}
