{% extends "base.html" %}

{% block title %}נחל סער | חניון תחתי{% endblock %}
{% block heading %}נחל סער, קריית אונו{% endblock %}
{% block subheading %}חניון תחתי{% endblock %}
{% block bodytags %}dir="rtl"{% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://unpkg.com/@simplewebauthn/browser@11.0.0/dist/bundle/index.umd.min.js"
        integrity="sha384-MEoU+35r/Mcpi7hzGCSKXkm+Yu7nRyDqV8z+GjTNBhxzV/JrQXe88JTG1ol0+F1e"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        const { startAuthentication } = SimpleWebAuthnBrowser;

        async function login(optionsJSON) {
            const assertion = await startAuthentication({ optionsJSON });
            const res = await fetch('/verify-login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(assertion)
            });
            if (res.ok) {
                open();
            } else {
                alert('Authentication failed. Please register first.');
                window.location.href = '/register';
            }
        }

        async function open() {
            buttonValidating();
            const res = await fetch('/open', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': '{{ csrf_token }}'
                },
                body: JSON.stringify({ gate_id: 1 })
            });
            if (res.ok) {
                buttonOpening();
                buttonDone();
            } else {
                const responseData = await res.json();
                if (responseData.error === 'not_authenticated') {
                    const { options } = responseData;
                    login(JSON.parse(options));
                } else {
                    {# TODO: Handle unverified / unauthorized user #}
                    console.error(responseData);
                    buttonDone(0);
                    alert('Failed to open gate.');
                }
            }
        }

        function buttonValidating() {
            const button = document.querySelector('.main-button');
            button.disabled = true;
            button.textContent = 'מאמת...';
        }

        function buttonOpening() {
            const button = document.querySelector('.main-button');
            button.disabled = true;
            button.classList.add('opening');
            button.textContent = 'פותח...';
        }

        function buttonDone(delay = 10000) {
            setTimeout(() => {
                const button = document.querySelector('.main-button');
                button.disabled = false;
                button.classList.remove('opening');
                button.textContent = 'פתח שער';
            }, delay);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelector('.main-button').addEventListener('click', event => {
                event.preventDefault();
                open();
            });
        });
    </script>
{% endblock %}

{% block content %}
        <div>
            <button class="main-button">פתח שער</button>
        </div>
        <div>
            <img class="logo" src="{{ url_for('static', filename='images/gatepass-logo-no-text.svg') }}" alt="GatePass Logo">
        </div>
{% endblock %}
