<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <script src="https://unpkg.com/@simplewebauthn/browser@11.0.0/dist/bundle/index.umd.min.js"
        integrity="sha384-MEoU+35r/Mcpi7hzGCSKXkm+Yu7nRyDqV8z+GjTNBhxzV/JrQXe88JTG1ol0+F1e"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        const { startAuthentication } = SimpleWebAuthnBrowser;

        async function login() {
            const options = {{ options | safe }};
            const assertion = await startAuthentication({ optionsJSON: options });
            const res = await fetch('/verify-login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(assertion)
            });
            if (res.ok) {
                const urlParams = new URLSearchParams(window.location.search);
                const dest = urlParams.get('next') || '/open_gate';
                window.location.href = dest;
            } else {
                alert('Authentication failed. Redirecting to registration.');
                window.location.href = '/register';
            }
        }
        window.onload = login;
    </script>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
    </div>
</body>

</html>