<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Opening Gate</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-48x48.png') }}" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="GatePass" />
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />

    <style>
        h1 {
            color: #4CAF50;
        }
        img {
            width: 100%;
            max-width: 360px;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Opening Gate</h1>
        <img src="{{ url_for('static', filename='images/gatepass-logo-no-text.svg') }}" alt="GatePass Logo">
    </div>
</body>

</html>