{% extends "base.html" %}
{% block title %}ממתין לאישור{% endblock %}
{% block heading %}ממתין לאישור{% endblock %}
{% block bodytags %}dir="rtl"{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        h1 {
            color: #4CAF50;
        }
        p#next_step {
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
    <script>
        const baseUrl = 'https://wa.me/972523502345?text=';
        const message = 'הי, נועם. נרשמתי לשירות פתיחת השער ומספר המשתמש שלי הוא {{ user_id }}. תוכל לאשר אותו בבקשה? תודה!\n\n{{ origin }}/update/{{ user_id }}';
        const urlEncodedMessage = encodeURIComponent(message);
        const fullUrl = baseUrl + urlEncodedMessage;
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelector('a').href = fullUrl;
        });
    </script>
{% endblock %}

{% block content %}
        <p>ההרשמה בוצעה בהצלחה. מספר המשתמש שלך הוא:</p>
        <p><strong>{{ user_id }}</strong></p>
        <p id="next_step">על מנת לאמת את המשתמש שלך, עליך לשלוח הודעה לנועם ע״י לחיצה על <a>הקישור הזה</a>.</p>
{% endblock %}
