<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הרשמה</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <script src="https://unpkg.com/@simplewebauthn/browser@11.0.0/dist/bundle/index.umd.min.js"
        integrity="sha384-MEoU+35r/Mcpi7hzGCSKXkm+Yu7nRyDqV8z+GjTNBhxzV/JrQXe88JTG1ol0+F1e"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        const { startRegistration } = SimpleWebAuthnBrowser;

        async function register(formData) {
            const options = {{ options | safe }};
            const credential = await startRegistration({ optionsJSON: options });
            const registrationRequest = {
                credential: credential,
                ...formData,
            }
            const res = await fetch('/verify-registration', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(registrationRequest)
            });
            if (res.ok) {
                window.location.href = '/reg_success/' + (await res.json())['user_id'];
            } else {
                alert('Registration failed.');
            }
        }
    </script>
</head>

<body dir="rtl">
    <div class="container">
        <h1>הרשמה</h1>
        <form id="registration">
            <div class="radio-group">
                <input type="radio" id="building3" name="building" value="3" checked>
                <label for="building3">בניין 3</label>

                <input type="radio" id="building5" name="building" value="5">
                <label for="building5">בניין 5</label>
            </div>
            <div>
                <label for="apartment">מספר דירה</label>
                <input type="text" id="apartment" name="apartment" autocomplete="address-line2 address-line3" required>
            </div>
            <div>
                <label for="name">שם (רשות)</label>
                <input type="text" id="name" name="name" autocomplete="name given-name nickname username">
            </div>
            <div>
                <button type="submit">הגש</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('registration').addEventListener('submit', (event) => {
            event.preventDefault();
            register(Object.fromEntries(new FormData(event.target)));
        });
    </script>
</body>

</html>
