<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Update user</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-48x48.png') }}" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="GatePass" />
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}" />

    <script>
        async function UpdateUser() {
            const updateRequest = Object.fromEntries(new FormData(document.getElementById('updateForm')));

            const res = await fetch('/update_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updateRequest)
            });

            if (res.ok) {
                alert('User updated successfully.');
            } else {
                alert('User update failed.');
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Update user</h1>
        <form id="updateForm">
            <div>
                <label for="user_id">User ID</label>
                <input type="text" id="user_id" name="id" value="{{ user.id }}" readonly>
            </div>
            <div>
                <label for="building">Building</label>
                <input type="text" id="building" name="building" value="{{ user.building }}">
            </div>
            <div>
                <label for="apartment">Apartment</label>
                <input type="text" id="apartment" name="apartment" value="{{ user.apartment }}">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{ user.name }}">
            </div>
            <div>
                <input type="checkbox" id="validated" name="validated" {{ "checked" if user.validated }}>
                <label for="validated">Validated</label>
            </div>
            <div>
                <input type="checkbox" id="admin" name="admin" {{ "checked" if user.admin }}>
                <label for="admin">Admin</label>
            </div>
            <div>
                <button type="button" onclick="UpdateUser()">Update</button>
            </div>
        </form>
    </div>
</body>

</html>